extends layout 
block content 
  main 
    div(class='container')
      h1(class='text-center form-title')= title  
      div(class='row') 
        div(class='col-md-3') 
        div(class='col-md-6')
          form(action='' , method='POST' class='signup-form') 
            if error 
              p.error  #{error}			
            label(for='email') Email
            input(type='text' , placeholder='Enter your user name' ,
              | class='form-control' , name='email' id='email' required)
            label(for='password') Password
            input(type='password' ,  class='form-control' , 
              | name='password' id='password' required)
            label(for='submit')
            input(type='submit'  , class='form-control' , name='submit' id='submit' value='Login') 
        div(class='col-md-3')